.jumbotron {
    background-image: url("https://www.tokkoro.com/picsup/5065141-ash-ketchum-pikachu.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height:500px;
}